<h2>Helpers</h2>
<button {{action (replace-with 'replace-with.list')}}>Go to Helpers</button>
<button {{action (replace-with 'replace-with.list' (query-params foo="bar"))}}>Show Query Params</button>
