{{page-title "Dummy"}}

<h1>ember-route-helpers</h1>

<div class="nav">
	<button id="transition-to" onclick={{action (transition-to "transition-to")}} type="button">Transition To</button>
	<button id="replace-with" onclick={{action (replace-with "transition-to")}} type="button">Replace With</button>
</div>

{{outlet}}
