<h1>ember-route-helpers</h1>

<div class="nav">
	<button id="transition-to" onclick={{action (transition-to "transition-to")}}>Transition To</button>
	<button id="replace-with" onclick={{action (replace-with "transition-to")}}>Replace With</button>
</div>

{{outlet}}
