<h1>ember-route-helpers</h1>

<div class="nav">
  <button onclick={{action (transition-to 'transition-to')}}>Transition To</button>
  <button onclick={{action (replace-with 'transition-to')}}>Replace With</button>
</div>

{{outlet}}
